.dual-pane {
    display: flex;
}
.dual-pane-left {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    width: 220px;
    //background-color: red;
}
.dual-pane-middle {
    width: 2px;
    flex-grow: 0;
    height: 100%;
    //background-color: green;
}
.dual-pane-right {
    flex-grow: 20;
    vertical-align: top;
    overflow-y: auto;
    height: 100%;
    //background-color: blue;
}
.single-pane-left {
    width: 100%;
}